<section class="page">
  <div class="hero-intro">

    <h2>Nueva Colección</h2>
    <p>Prendas seleccionadas para gente elegante. Calidad, diseño y actitud.</p>
  </div>
  <div class="grid">
    <div class="card" *ngFor="let p of [1,2,3,4,5,6,7,8]">
      <img src="https://th.bing.com/th/id/R.a12aef1a7553e39c62edd5e5eb5a053b?rik=um3T%2bvn2tNb3UQ&riu=http%3a%2f%2fimages7.memedroid.com%2fimages%2fUPLOADED749%2f62d0eca50371a.jpeg&ehk=6wIUy%2bx2zCnHyJCodyxjujVkiguPfyIKJa%2f%2blIhDErU%3d&risl=&pid=ImgRaw&r=0" alt="Producto {{p}}"/>
      <h3>Producto {{p}}</h3>
      <p class="price"> 5 de asada</p>
    </div>
  </div>
</section>
