<section class="page">
  <div class="header">
    <h2>Sobre EIAO STORE</h2>
    <p class="lead">Nacimos con una idea: vestir la elegancia del día a día.</p>
  </div>
  <div class="columns">
    <div class="block">
      <h3>Nuestra historia</h3>
      <p>La Escuela Industrial y Preparatoria Técnica “Álvaro Obregón” forma parte del sistema de la Universidad Autónoma de Nuevo León y cuenta con una amplia trayectoria como institución pública de nivel medio superior. El Plantel Monterrey I, conocido como Churubusco, se encuentra ubicado en la Avenida Churubusco No. 935, en la Colonia Venustiano Carranza, Monterrey, Nuevo León.

        Esta preparatoria ofrece varias opciones de bachillerato técnico, entre las que se incluyen Administración Contable, Aplicaciones Audiovisuales, Electrónica, Electromecánica, Inteligencia Artificial y, de manera destacada, el Bachillerato Técnico en Programación Web.</p>
    </div>
    <div class="block">
      <h3>¿Portar la playera institucional?</h3>
      <p>Portar la camiseta oficial en la Preparatoria Álvaro Obregón tiene un significado más profundo que solo cumplir con una norma escolar. Aquí te dejo varias razones por las que es importante:</p>
      <ul>
        <li>
          <strong>Identidad y pertenencia:</strong> La camiseta representa que formas parte de la comunidad de la “Álvaro Obregón”. Al usarla, te identificas como estudiante y refuerzas el sentido de orgullo y pertenencia hacia tu plantel.
        </li>
        <li>
          <strong>Igualdad:</strong> El uniforme ayuda a que todos los alumnos sean vistos por igual, sin importar su situación económica o estilo personal. Eso reduce comparaciones y fomenta un ambiente más equitativo dentro de la escuela.
        </li>
        <li>
          <strong>Disciplina y respeto:</strong> Portar correctamente el uniforme refleja compromiso con la institución, respeto a las reglas y responsabilidad personal, cualidades muy valoradas tanto dentro como fuera del ámbito escolar.
        </li>
        <li>
          <strong>Seguridad:</strong> Facilita la identificación de los estudiantes dentro y fuera del plantel, lo que ayuda a mantener un mayor control y protección en actividades escolares o eventos externos.
        </li>
        <li>
          <strong>Orgullo institucional:</strong> Llevar la camiseta oficial también es una manera de mostrar orgullo por pertenecer a una de las preparatorias técnicas más reconocidas de la UANL, con una larga tradición en la formación académica y técnica.
        </li>
      </ul>
    </div>
  </div>
</section>
