<section class="page">
  <div class="header">
    <h2>Sobre EIAO STORE</h2>
    <p class="lead">Nacimos con una idea: vestir la elegancia del día a día.</p>
  </div>
  <div class="columns">
    <div class="block">
      <h3>Nuestra historia</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus, tempora debitis natus quo eveniet quaerat deleniti consectetur veniam, quia, facilis ab est! Nulla reiciendis quis et, veniam quibusdam nemo?</p>
    </div>
    <div class="block">
      <h3>Compromiso</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iusto veniam modi molestiae, atque sed. Commodi earum debitis deserunt eveniet sunt. Odio, quod ipsa modi nihil nisi aliquam quasi corporis!/p>
    </div>
  </div>
</section>
