<section class="page">
  <div class="header">
    <h2>Web TV</h2>
    <p>Historias y editoriales en video.</p>
  </div>
  <div class="parent">
    <div class="div1 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.05 PM.mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div2 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.07 PM.mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div3 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.08 PM.mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div4 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.12 PM.mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div5 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.14 PM (1).mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div6 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.15 PM (1).mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div7 grid-item">
      <video autoplay loop muted playsinline>
        <source src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Video 2025-09-30 at 9.20.18 PM (1).mp4" type="video/mp4">
      </video>

    </div>
    
    <div class="div8 grid-item">
      <img src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Image 2025-09-30 at 9.20.04 PM (1).jpeg" alt="Imagen 1">

    </div>
    
    <div class="div9 grid-item">
      <img src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Image 2025-09-30 at 9.20.05 PM.jpeg" alt="Imagen 2">

    </div>
    
    <div class="div10 grid-item">
      <img src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Image 2025-09-30 at 9.20.05 PM (1).jpeg" alt="Imagen 3">

    </div>
    
    <div class="div11 grid-item">
      <img src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Image 2025-09-30 at 9.20.05 PM (2).jpeg" alt="Imagen 4">

    </div>
    
    <div class="div12 grid-item">
      <img src="../../../assets/imagenes/Web-Ubicacion/WhatsApp Image 2025-09-30 at 9.20.09 PM.jpeg" alt="Imagen 5">

    </div>
  </div>
</section>
