<section class="page">
  <div class="header">
    <h2>Galería</h2>
    <p>Pertenezco a la EIAO.</p>
  </div>
  <div class="masonry">
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.01.39 PM.jpeg" alt="Galería 1"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.01.40 PM.jpeg" alt="Galería 2"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 9.20.20 PM.jpeg" alt="Galería 3"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.19.54 PM.jpeg" alt="Galería 4"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.20.07 PM.jpeg" alt="Galería 5"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.20.23 PM.jpeg" alt="Galería 6"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.20.36 PM.jpeg" alt="Galería 7"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/WhatsApp Image 2025-09-30 at 11.31.36 PM.jpeg" alt="Galería 8"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/552622864_1178043340557781_457112253481860377_n.jpg" alt="Galería 9"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/551885870_625232890521131_1955223898141351832_n.jpg" alt="Galería 10"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/552505216_1285175349600538_2573055644504095539_n.jpg" alt="Galería 11"></div>
      <div class="item"><img src="../../../assets/imagenes/alumnos/b65f755d-46fd-4865-845d-6753209a02a1.jpg" alt="Galería 12"></div>
    </div>
</section>
